body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.super-container {
    width: 100%;
    height: 90%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5px;
}

/*----------------------------HEAD-----------------------------------*/
.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    border-radius: 30px 30px 0px 0px;
    color: white;
}

.night-mode {
    width: 25px;
    height: 25px;
    position: relative;
    left: -10px;
    transition: scale .2s linear;
}

.more {
    display: flex;
    position: fixed;
    top: 90%;
    left: 80%;
}

.options {
    width: 50px;
    height: 50px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0px 0px 2px 3px brown;
    transition: box-shadow .2s linear, border .2s linear, background-color .2s linear;
}

.options:hover {
    box-shadow: 0px 0px 8px 5px rgb(172, 74, 74);
    background-color: rgb(182, 63, 63);
    cursor: pointer;
}

.plus,
.trash {
    width: 30px;
    height: 30px;
    position: relative;
}

.plus {
    top: -55px;
    left: 15px
}

.trash {
    left: -70px;
}

.plus:hover,
.trash:hover {
    cursor: pointer;
    scale: 1.2;
    transition: scale .2s linear;
}

.more-img:hover,
.night-mode:hover {
    cursor: pointer;
    scale: 1.2;
    animation: rotateSun .5s linear;
}

@keyframes rotateSun {

    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(45deg);
    }
}

/*------------------------------------------------------------------*/
/*----------------------------INPUTS--------------------------------*/
.date-name {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: rgb(192, 192, 192);
    height: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.date {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.date input {
    width: 90%;
    height: 100%;
    border-radius: 0px 30px 30px 0px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 0px solid white;
    border-right: 2px solid white;
    background-color: rgb(192, 192, 192);
    padding: 0px;
}

.name {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 2%;
}

h4,
h4 {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 0px solid white;
    border-radius: 30px 0px 0px 30px;
    margin: 0px;
    padding-left: 5%;
    display: flex;
    align-items: center;
    color: white;
}

.name input {
    width: 90%;
    height: 100%;
    border-radius: 0px 30px 30px 0px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 0px solid white;
    border-right: 2px solid white;
    padding: 0px;
    background-color: rgb(192, 192, 192);
}

input[type="text"]::placeholder {
    padding: 5%;
}

input:focus {
    outline: none;
}

/*-------------------------------------------------------------------*/
/*------------------------TABLE--------------------------------------*/

.main-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    background-color: rgb(192, 192, 192);
    padding-left: 2%;
    padding-right: 2%;
}

.delivery {
    border: 2px solid white;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.properties {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.size,
.shein-price,
.cost,
.my-price {
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width:300px) and (max-width:400px) {

    .size h2,
    .shein-price h2,
    .cost h2,
    .my-price h2,
    .delivery h2 {
        font-size: 9px;
    }

}

@media (min-width:400px) and (max-width:500px) {

    .size h2,
    .shein-price h2,
    .cost h2,
    .my-price h2,
    .delivery h2 {
        font-size: 14px;
    }

}

/*-------------------------------------------------------------------*/
/*------------------------DATA--------------------------------------*/

.data {
    width: 100%;
    height: 70%;
    background-color: aquamarine;
}


/*-------------------------------------------------------------------*/